body{
	margin: 0;
	padding: 0;
	background: url(jas.jpg);
	background-size: cover;
	background-position: bottom;
	font-family: sans-serif;
}
.trans{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 420px;
	height: 350px;
	padding: 80px 40px;
	color: #fff;
	background:  rgba(0,0,0,.8);
	box-shadow:  0  15px 25px rgba(0,0,0,.5);
	box-sizing: border-box;
	border-radius: 10px;
}
.icon{
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
.trans input[type="submit"]
{
	border: none;
	outline: none;
	width: 340px;
	height: 40px;
	color: #fff;
	font-size: 18px;
	background: #800000;
	cursor: pointer;
	border-radius: 20px;
}

.trans input[type="submit"]:hover
{	
	cursor: pointer;
	background:  #ffc107;
	color: #000;
}	
	
		